.about {
  padding-top: 34px;

  &__wrapper {
    padding: 0 30px;
  }

  &__title {
    margin: 0 0 27px 0;

    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;
  }

  &__item {
    padding-top: 60px;

    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #000000;

    &:not(:last-child) {
      margin-bottom: 23px;
    }
  }
}
