.about-work {
  margin-bottom: 58px;
}

.about-work__wrapper {
  display: flex;
  justify-content: space-around;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 30px;
}

.about-work__content {
  width: 260px;
  padding-bottom: 32px;
  box-sizing: border-box;

  border: 1px solid #ececec;

  box-shadow: none;

  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.about-work__title {
  position: relative;

  margin: 25px 0 23px;
  padding-left: 89px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.about-work__icon {
  position: absolute;
  top: 4px;
  left: 33px;

  display: inline-block;
  vertical-align: middle;

  fill: #63d1bb;
}

.about-work__video {
  position: relative;
}

.about-work__description {
  padding: 0 34px;
}

.about-work__text {
  margin: 24px 0 25px 0;

  font-size: 13px;
  line-height: 24px;
}

.about-work__button {
  width: 192px;
}

@media (min-width: @tablet-width) {
  .about-work {
    margin-bottom: 63px;
  }

  .about-work__wrapper {
    padding: 0 50px;
  }

  .about-work__content {
    display: flex;
    flex-wrap: wrap;
    width: 668px;
    padding-bottom: 0;

    border: 0;
    border-bottom: 1px solid #ececec;
  }

  .about-work__header {
    width: 100%;
    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .about-work__title {
    margin-top: 38px;
    padding-left: 106px;

    font-size: 20px;
  }

  .about-work__icon {
    top: -5px;
    left: 41px;
  }

  .about-work__video {
    order: -1;
    width: 100%;
    // TODO: потом удалить
    height: 455px;
    background-color: gray;
  }

  .about-work__description {
    width: 100%;
    padding: 0 40px 45px 40px;
    box-sizing: border-box;

    border-right: 1px solid #ececec;
    border-left: 1px solid #ececec;
  }

  .about-work__text {
    margin-top: 9px;
    margin-bottom: 35px;

    font-size: 15px;
    line-height: 30px;
  }

  .about-work__button {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .about-work {
    margin-bottom: 104px;
  }

  .about-work__content {
    position: relative;
    justify-content: space-between;

    width: 100%;
  }

  .about-work__header {
    position: absolute;
    top: 0;
    right: 0;

    width: ~"calc(100% - 682px)";
  }

  .about-work__title {
    width: 150px;
    margin-top: 42px;
    padding-left: 79px;
  }

  .about-work__icon {
    display: block;
    margin-left: 2px;
    margin-bottom: 22px;
  }

  .about-work__video {
    width: 682px;
  }

  .about-work__description {
    width: ~"calc(100% - 682px)";
    padding: 167px 57px 0 79px;

    border-top: 1px solid #ececec;
  }

  .about-work__text {
    margin-bottom: 45px;
  }
}
