.contacts-table {
  display: table;
  margin-bottom: 17px;
}

.contacts-table__row {
  display: table-row;
}

.contacts-table__cell {
  display: table-cell;
  vertical-align: top;
  padding: 10px 0 20px;

  line-height: 30px;

  &:nth-child(1) {
    width: 78px;
  }
}

@media (min-width: @tablet-width) {
  .contacts-table {
    display: flex;
    justify-content: space-between;
    margin-bottom: 36px;
  }

  .contacts-table__row {
    &:nth-child(2) {
      padding-right: 36px;
    }
  }

  .contacts-table__cell {
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: @desktop-width) {
  .contacts-table {
    display: block;
    margin-top: -291px;
    padding-left: 176px;
    box-sizing: border-box;
  }
}
