.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  padding: 0 20px;
}

.page-footer__socials {
  padding: 31px 0 32px;

  border-bottom: 1px solid #e5e5e5;
}

.page-footer__copyright {
  padding: 28px 0 33px;
}
