.product-table {
  width: 100%;
  border-collapse: collapse;

  &__row {
    border-bottom: 1px solid #ececec;
  }

  &__cell {
    padding: 11px 0;

    &:nth-child(1) {
      width: 98px;
    }
  }
}
