.product:hover .product__content {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product__image-link {
  display: block;

  line-height: 0;
}

.product__content {
  padding: 0 28px;

  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: none;

  transition: box-shadow 0.3s ease;
}

.product__description {
  padding-bottom: 19px;

  border-bottom: 1px solid #ececec;
}

.product__title {
  margin: 26px 0 5px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.product__link {
  color: #000000;
}

.product__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.product__buy {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 27px;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.product__button {
  .reset-button() ;
  width: 21px;
  height: 19px;

  background-color: red;
}
