.product {
  width: 260px;
}

.product:hover .product__content {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.product__image-link {
  display: block;

  line-height: 0;
}

.product__content {
  padding: 0 28px;
  box-sizing: border-box;

  background-color: #ffffff;
  border: 1px solid #ececec;
  box-shadow: none;

  transition: box-shadow 0.3s ease;
}

.product__description {
  padding-bottom: 19px;

  border-bottom: 1px solid #ececec;
}

.product__title {
  margin: 26px 0 5px 0;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.product__link {
  color: rgba(0, 0, 0, 1);

  transition: color 0.3s ease;

  &:hover {
    coloe: rgba(0, 0, 0, 0.6);
  }

  &:active {
    coloe: rgba(0, 0, 0, 0.3);
  }
}

.product__info {
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
}

.product__buy {
  display: flex;
  justify-content: space-between;
  padding: 21px 0 27px;
}

.product__price {
  font-weight: 700;
  font-size: 15px;
  line-height: 24px;
  color: #000000;
}

.product__button {
  .reset-button() ;
  width: 21px;
  height: 19px;

  background-color: red;
}

@media (min-width: @tablet-width) {
  .product {
    display: flex;
    width: 100%;
  }

  .product__image-link {
    width: 334px;
    // TODO: потом удалить
    height: 334px;
    background-color: gray;
  }

  .product__content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    width: ~"calc(100% - 334px)";
    padding-left: 26px;
  }

  .product__description {
    width: 100%;

    border-bottom: 0;
  }

  .product__title {
    margin-top: 25px;

    font-size: 20px;
  }

  .product__info {
    font-size: 15px;
  }

  .product__buy {
    width: 100%;
    padding: 22px 0 26px 5px;

    border-top: 1px solid #ececec;
  }

  .product__price {
    font-size: 17px;
  }
}
