.reviews {
  padding-top: 54px;
  padding-bottom: 45px;

  &__wrapper {
    padding: 0 30px;
  }

  &__title {
    margin: 0 0 24px 0;

    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }

  &__item {
    margin: 0;
  }

  &__text {
    margin: 0 0 28px 0;

    line-height: 30px;
  }

  &__author {
    font-style: normal;
  }

  &__name {
    display: block;
    margin-bottom: 2px;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #000000;
  }

  &__nick {
    font-size: 17px;
    line-height: 30px;
  }
}
