.reviews {
  padding-top: 54px;
  padding-bottom: 45px;
}

.reviews__wrapper {
  padding: 0 30px;
}

.reviews__title {
  margin: 0 0 24px 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.reviews__item {
  margin: 0;
}

.reviews__text {
  margin: 0 0 28px 0;

  line-height: 30px;
}

.reviews__author {
  font-style: normal;
}

.reviews__name {
  display: block;
  margin-bottom: 2px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.reviews__nick {
  font-size: 17px;
  line-height: 30px;
}
