.slider__list {
  .reset-ul();

  margin-bottom: 29px;
}

.slider__buttons {
  display: flex;
  margin-bottom: 38px;
}

.slider__button {
  width: 130px;
  height: 52px;
  padding: 0;

  font-size: 0;

  border: 1px solid #ececec;
  background-color: #ffffff;

  &--next {
    border-left: 0;
  }
}

@media (min-width: @tablet-width) {
  .slider__buttons {
    position: absolute;
    right: 51px;
    bottom: 49px;

    margin-bottom: 0;
  }

  .slider__button {
    width: 87px;

    border: 0;
  }
}

@media (min-width: @desktop-width) {
  .slider__buttons {
    bottom: 98px;
    right: 1px;
  }
}
