.slider {
  &__list {
    margin-top: 0;
    margin-bottom: 29px;
    padding-left: 0;

    list-style: none;
  }

  &__buttons {
    display: flex;
    margin-bottom: 38px;
  }

  &__button {
    width: 130px;
    height: 52px;
    padding: 0;

    border: 1px solid #ececec;
    background-color: #ffffff;

    &--next {
      border-left: 0;
    }
  }
}
