.socials__list {
  .reset-ul();
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -6px;
}

.socials__icon {
  position: absolute;

  fill: #231f20;

  transition: all 0.3s ease;

  &--instagram {
    top: 10px;
    left: 9px;
  }

  &--facebook {
    top: 4px;
    left: 13px;
  }

  &--twitter {
    top: 10px;
    left: 9px;
  }
}

.socials__item {
  &:not(:last-child) {
    margin-right: 19px;
  }
}

.socials__link {
  position: relative;

  display: block;
  width: 40px;
  height: 40px;

  font-size: 0;

  &:hover .socials__icon {
    fill: #46c1ae;
  }

  &:active .socials__icon {
    opacity: 0.3;
  }
}
