.special-product {
  padding-top: 27px;
  padding-bottom: 35px;

  &__wrapper {
    padding: 0 30px;
  }

  &__header {
    margin-bottom: 22px;
  }

  &__title {
    margin: 0 0 6px 0;

    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    color: #000000;
  }

  &__link {
    color: #000000;
  }

  &__type {
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    color: #63d1bb;
    text-transform: uppercase;
  }

  &__text {
    margin: 0 0 18px 0;

    line-height: 24px;
    color: #444444;
  }

  &__table {
    margin-bottom: 28px;
  }

  &__image-link {
    display: block;
    margin-bottom: 24px;

    line-height: 0;
  }

  &__price {
    display: block;
    margin-bottom: 26px;

    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
    color: #444444;
    text-align: center;
  }
}
