.special-product {
  padding-top: 27px;
  padding-bottom: 35px;
}

.special-product__wrapper {
  padding: 0 30px;
}

.special-product__header {
  margin-bottom: 22px;
}

.special-product__title {
  margin: 0 0 6px 0;

  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #000000;
}

.special-product__link {
  color: #000000;
}

.special-product__type {
  font-weight: 700;
  font-size: 17px;
  line-height: 20px;
  color: #63d1bb;
  text-transform: uppercase;
}

.special-product__text {
  margin: 0 0 18px 0;

  line-height: 24px;
  color: #444444;
}

.special-product__table {
  margin-bottom: 28px;
}

.special-product__image-link {
  display: block;
  margin-bottom: 24px;

  line-height: 0;
}

.special-product__price {
  display: block;
  margin-bottom: 26px;

  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #444444;
  text-align: center;
}
